body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(222, 222, 222);
}
.App {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  background-color: #7dd3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5px;
}

.title-img {
  height: 50px;
  width: auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.intro-container {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.score-board-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.score-board {
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.score {
  color: green;
}

.high-score {
  color: red;
}

.max-score {
  color: blue;
}

.game-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(50px, 100px));
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

img {
  height: 80px;
}

.footer-container {
  margin-top: auto;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.github-logo {
  height: 30px;
}
